<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>Job</h2>
      <div class="form-group">
      <a routerLink="/job/save" class="btn btn-success">Novo</a>
      </div>
      
    

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
        
            <th>Id</th>
            <th>Descricao</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of jobs">
            <th> <a class="btn btn-secondary"  [routerLink]="['/job', item.id]" >Editar</a>
              
            </th>
            
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
          </tr>
        </tbody>

      </table>
    </div> 
  </div>
</div>