<div class="container">
  <form (ngSubmit)="onSubmit()" #contatoForm="ngForm">
   <div class="form-group">
   
       <input type="text" hidden class="form-control" name="id" [(ngModel)]="jobModule.id" (ngModelChange)="$event"/>
   </div>
   <div class="form-group">
       <label for="descricao">Nome</label>
       <input type="text" class="form-control" name="descricao"  [(ngModel)]="jobModule.name" (ngModelChange)="$event" required>
   </div>

   <button type="submit" class="btn btn-successes" [disabled]="!contatoForm.form.valid">Salvar</button> 
   <a class="btn btn-secondary" routerLink="/job">Voltar</a>
</form>

</div>  